* {
    box-sizing: border-box; /* Añade esto al principio de tu CSS */
}
.fondo{
    background-color: rgb(193, 190, 190);
}

.navbar{
    background-color: white;
    color: black;
}

.text{
    padding-left: 15px;
    font-size: 25px;
}
.img{
    padding-top: 125px;
}
.icon{
    padding-left: 20px;
}
.cerrar{
    font-size: 20px;
    padding-bottom: 5px;
    color: rgb(255, 255, 255);
    border-color:rgb(0, 0, 0);
    background: rgb(0, 0, 0);
    border-radius: 25px;
}
.tittle{
    padding-top: 50px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.botton_text{
    padding-top: 80px;
    padding-left: 180px;

}
.img_text{
    padding-left: 220px;
}
.botton{
    font-size: 30px;
    padding-bottom: 9px;
    color: rgb(255, 255, 255);
    border-color:rgb(15, 42, 133);
    background: rgb(15, 42, 133);
    border-radius: 30px;
}
.f_Usuarios {
    width: 80%; /* Cambia el ancho a 100% para que se ajuste al contenedor */
    height: 36px;
    padding: 0 8px;
    border: 0;
    border-radius: 22px;
    background-color: #ffffff;
    color: #94a3b8;
    font-size: 14px;
    font-family: "Roboto";
    line-height: 36px;
    outline: none;
}

.text1 {
    color: #363636;
    font-size: 24px;
    font-family: "Roboto";
    font-weight: 700;
    line-height: 32px;

}

#tablaUsuarios {
    width: 80%;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    table-layout: fixed;
    margin-bottom: 20px;
    border-collapse: collapse;
}

#tablaUsuarios th {
    padding: 8px 12px;
    text-align: left;
    background-color: #f8f8f8;
    border-bottom: 2px solid #ddd;
    width: 25%; /* Ajusta este valor según el número de columnas */
}

#tablaUsuarios td {
    padding: 8px 12px;
    border-bottom: 1px solid #ddd;
}

#tablaUsuarios tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}
.form_t {
    max-width: 100%;
    overflow: hidden; 
    padding-left: 100px;
    padding-top: 50px;
    font-weight: bold;
}
.btn-container {
    position: relative;
    overflow: visible;
}

.btn-eliminar {
    position: absolute;
    top: 50%; /* Centrar verticalmente */
    transform: translateY(-50%); /* Ajuste para centrar */
    display: none; /* Inicialmente oculto */
    z-index: 1; 
    background-color: #f2f2f2; 
    color: #030303;
    border: 1px solid #030303; 
    border-radius: 5px;
    padding: 5px 10px; 
}

#usuariosBody tr:hover .btn-eliminar {
    display: block; 
}

#usuariosBody tr {
    position: relative; 
}

#usuariosBody tr:hover {
    cursor: pointer;
}
.fondo_emergente {
    writing-mode: horizontal-tb;
    height: 546px;
    border-width: 15px;
    border-style: solid;
    border-color: rgb(162, 161, 161);
}
.img2 {
    border-radius: 25px;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 50px;
}

.main-container {
    height: 100%;
    margin: 0;
}

.hero-body {
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-80%, -80%);
    font-size: 21px;
    font-weight: bold;
    vertical-align: text-top;
}
.modal {
    position: fixed; /* Fijado para cubrir toda la pantalla */
    z-index: 1000; /* Ya tienes el z-index correcto */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    display: flex; /* Flexbox para centrar */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}  
.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
}

.btn-confirmar {
    background-color: #d9534f;
    color: white;
    border: none;
}

.btn-cancelar {
    background-color: #5bc0de;
    color: white;
    border: none;
}

.btn-confirmar, .btn-cancelar {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}